.wrapper {
	background-color: #C3C0BF;
	height: 1000px;
	margin-top: 88px;
}

#topNavBar {
	margin-bottom: 10px;
}

.jumbotron {
	background-image: url(assets/jumbotronPhoto.JPG);
	height: 500px;
	margin-top: 20px;
}

#infoBar {
	margin-top: 20px;
	background-color: #222;
	height: 500px;
}

.navButton:hover{
	background-color: gray;
	border-left: green;
}

.navButton {
	margin-top:62px;
}

#quote {
	margin-top: 380px;
	color:#16C760;
	font-size: 55px
}

#aboutMeButton {
	color: #16C760;
	font-size: 20px;
}

#workButton {
	color: #16C760;
	font-size: 20px;
}

#blogButton {
	color: #16C760;
	font-size: 20px;
}

#location {
	color: white;
}

#contact {
	color: white;
}

#twitter {
	color:white;
}

#facebook {
	color:white;
}

#blogContent {
	margin-top: 20px;
	background-color: #222;
	height: 600px;
}

#theBlog {
	font-size: 40px;
	color: white;
	text-align: left;
	margin-top: 5px;
}

#blogTitle {
	font-size: 25px;
	color: white;
	text-align: left;
	margin-top: 20px;
}

#theDate {
	font-size: 15px;
	color: white;
	text-align: left;
	margin-top: 1px;
}

#entry1Content {
	margin-top: 15px;
	color: white;
}

#aboutContent {
	margin-top: 20px;
	background-color: #222;
	height: 600px;
}

#aboutMeText {
	margin-top: 15px;
	color: white;
}

#workAndEd {
	margin-top: 20px;
	background-color: #222;
	height: 600px;
}

#workAndEdContent {
	margin-top: 15px;
	color: white;
}
